<!-- success.ejs -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center">
        <div>
            <img src="https://ish.app.br/img/ishcompleto.png" style="height: 150px;">
        </div>
        
        <div class="card-body">
            <p><b>Sucesso!</b></p>
            <p>O seu pedido foi concluído com sucesso. Agradecemos pela sua compra!</p>
            <!-- Adicione informações adicionais conforme necessário -->
        </div>
    </div>
</div>

<%- include ('partials/footer') %>
